*{
    font-family: "Roboto Mono", sans-serif;
}
body{
    background-color: #EEE8E3;
    padding: 0;
    margin: 0;
}

h1 a{
    color: #800000!important;
    font-size: 2.5rem;
    font-family: monospace;
    margin-top: 0;
    padding: 10px 15px ;
}
a:link{
    color: SaddleBrown; 
    text-decoration: none;
}
a:visited{
    color: Chocolate;
}
a:hover{
    color:SandyBrown
}
a:active{
    font-size: larger;
}
dt:first-child, dd a:first-child{
    font-size: larger;
}
#header {
    background-image:  linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)),url("../images/main_background.jpg");
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.nav_bar{
    margin: 20px auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding: auto;
    margin: 20px;
}
.nav_bar > li{
    list-style: none;
}

.nav_bar a{
    font-weight: bold;
    font-size: 1.2rem;
    color: #6f0000;
    padding: 3px 5px;
}

.nav_bar a:hover{
    background-color: ivory;
    border-radius: 7px;
}
.nav_bar a:active{
    text-decoration: none;
}

.hedlines{
    text-align: center;
    color: #800000;
    margin: 20px 5px;
}

p{
    margin: 10px;
    font-style: italic;
}
table{
    margin: 0 auto;
    width: 50%;
}
span{
    color:chocolate;
    font-weight: bold;
}

h4{
    text-align: left!important;
    font-size: 1.2rem;
    margin: 0 20px;
}
dl{
    margin: 20px;
}
dl dt{
    color: #800000;
    line-height: 2;
}

thead{
    background-color: burlywood;
}


.center{
    text-align: center;
    vertical-align: middle;
}

/* MAIN PAGE */
.dark_theme{
    background-color: burlywood;
    padding: 10px;
    margin: 0;
}
.dark_theme a{
    color: rgb(79, 20, 20);
    padding: 5px;
}
.dark_theme a:hover{
    background-color: ivory;
    border-radius: 7px;
}

.book_aestetic{
    text-align: center;
    padding: 10px;
}
.book_aestetic_img li{
    list-style: circle;
    margin-bottom: 20px;
}

.book_aestetic_img{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.book_aestetic_img > img{
    padding: 20px 10px;
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 60%;
}


#headphones_img{
    height: 350px;
    width: 350px;
    position: relative;
    bottom: 80px;
    padding: 0px;
}

#music_logo{
    height: 150px;
    width: 150px;
    position: relative;
    top: 150px;
    left:300px;
    z-index: 1;
}

.poetry_img{
    padding: 20px 10px;
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 60%;
}
.float-left{
    float: left;
    margin-left: 100px;
}
.float-right{
    float: right;
    margin-right: 100px;
}


#events{
    margin: 50px 0;
}
.btn{
    font-weight: bold;
    color: rgb(171, 81, 17);
    text-align: center;
    background-color: ivory;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    border: ivory;
    font-size: 1rem;
    height: 50px;
}

#new-btn{
    display: none;
}
#tips-list{
    width: 63%;
}
.highlight{
    background-color: chocolate;
    color: ivory;
    border-radius: 10px;
}
/* BOOK CATEGORY PAGE */
#book-for-shelf{
    height: 100px;
}
#book-shelf{
    height: 200px;
}
#categories{
    margin: 0 20px;
    position: fixed;

}
#category_list{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.7;
    list-style-type: none;
    color: ivory;
    margin: 0 auto;
    padding: 0;
}
#category_list li{
    text-align: center;
    background-color: rgb(171, 81, 17);
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    margin: 5px;
}
#category_list li a{
    color: ivory;
}
#category_list li:hover{
    background-color: chocolate;
}
.catalog_page{
    margin-left: 200px;
}
.catalog_page img{
    height: 300px;
    padding: 20px;
}
.book_set{
    padding:0 ;
    display: flex;
    justify-content: space-between;
}
img + p{
    font-style: italic;
    color: #6f0000;
    align-items: center;
    width: 200px;
    text-align: center;
}

/* PLACES PAGE */
.place_info{
    margin: 10px 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.place_img{
    height: 40%;
    width:40%;
}
/* QUOTE PAGE */
#quotes_header{
    margin: 0 auto;
    max-width: 290px;
    position: relative;
    padding: 5px 24px;
    background-color: #fbf4ea;
    color: #800000;
    border-radius: 4px;
}
#quotes_header::before {
    content: '\201e';
    position: absolute;
    top: -16px;
    left: 6px;
    font-family: Georgia, serif;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
  }
#quotes_header::after {
    content: '\201c';
    position: absolute;
    right: 3px;
    font-family: Georgia, serif;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
}
#quotes_table{
    font-family: Garamond;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    width: 70%;
}

.quote_info{
    text-align: end;
    font-style: italic;
    font-weight: normal;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: smaller;
}

.like_info{
    text-align: end;
}

